/*
Media Query Manager

0 - 600px:        Phone
600 - 900px:      Tablet Portrait
900 - 1200px:     Tablet Landscape
[1200 - 1800px]:  Normal Styles
1800 - +px:       Big desktops

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

.u-title-big {
  font-size: 5rem !important;
  line-height: 5rem !important; }

.u-title-medium {
  font-size: 4rem !important;
  line-height: 5rem !important; }

.u-title-small {
  font-size: 3.5rem !important;
  line-height: 5rem !important; }

.u-sub-title-small {
  font-size: 1.7rem !important;
  line-height: 5rem !important; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-huge {
  margin-top: 20rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-right-small {
  margin-right: 1.5rem !important; }

.u-margin-right-medium {
  margin-right: 4rem !important; }

.u-padding-top-huge {
  padding-top: 15rem !important; }

.u-padding-top-big {
  padding-top: 8rem !important; }
  @media (max-width: 37.5em) {
    .u-padding-top-big {
      padding-top: 4rem !important; } }

.u-padding-right-small {
  padding-right: 3rem !important; }

.u-padding-bottom-extra-big {
  padding-bottom: 12rem !important; }
  @media (max-width: 37.5em) {
    .u-padding-bottom-extra-big {
      padding-bottom: 2rem !important; } }

.u-padding-bottom-big {
  padding-bottom: 8rem !important; }
  @media (max-width: 37.5em) {
    .u-padding-bottom-big {
      padding-bottom: 2rem !important; } }

.u-indent {
  margin: 1.5rem !important; }

.u-border {
  border-radius: .5rem !important; }

.u-white-text {
  color: #fff !important; }

.u-fontsize-small {
  font-size: 1.2rem !important; }

.u-link-white-underline {
  text-decoration: underline !important;
  color: #fff !important; }
  .u-link-white-underline:hover {
    cursor: pointer !important; }

.u-link-gray-underline {
  text-decoration: underline !important;
  color: #696969 !important; }
  .u-link-gray-underline:hover {
    cursor: pointer !important; }

.u-link-gray {
  text-decoration: none !important;
  color: #696969 !important; }
  .u-link-gray:hover {
    cursor: pointer !important; }

.u-link-blue {
  text-decoration: none !important;
  color: #2998ff !important; }
  .u-link-blue:hover {
    cursor: pointer !important;
    color: #5643fa !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .30;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn-simple:link, .btn-simple:visited {
  font-size: 1.6rem;
  color: #2998ff;
  display: inline-block;
  text-decoration: none;
  padding: 5px 1.2rem;
  transition: all .4s; }

.btn-simple:hover {
  background-color: #fff;
  transform: translateY(-1.2px);
  color: #2998ff; }

.btn-simple:active {
  transform: translateY(0); }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #2998ff;
  display: inline-block;
  text-decoration: none;
  padding: 6px 1.5rem;
  transition: all .2s;
  border-radius: 1rem; }

.btn-text:hover {
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.btn-text--blue:link, .btn-text--blue:visited {
  font-size: 1.6rem;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  background-color: #7277EE;
  padding: 6px 1.5rem;
  transition: all .2s;
  border-radius: 1rem; }

.btn-text--blue:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text--blue:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.btn-text--transparent:link, .btn-text--transparent:visited {
  font-size: 1.6rem;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  padding: 6px 1.5rem;
  transition: all .2s;
  border-radius: 1rem; }

.btn-text--transparent:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text--transparent:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.btn-text--transparent-blue:link, .btn-text--transparent-blue:visited {
  font-size: 1.6rem;
  color: #5643fa;
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  padding: 6px 1.5rem;
  transition: all .2s;
  border-radius: 1rem; }

.btn-text--transparent-blue:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text--transparent-blue:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.btn__drop-down {
  padding: 0;
  margin: 0 .5rem;
  display: inline-block; }
  .btn__drop-down--left {
    padding: .5rem 0;
    display: inline-block;
    border-right: 2px solid #2998ff;
    transform: rotate(135deg); }
  .btn__drop-down--right {
    padding: .5rem 0;
    display: inline-block;
    border-left: 2px solid #2998ff;
    transform: rotate(45deg); }

.top-navigation {
  z-index: 100;
  position: fixed;
  width: 100%;
  transform: translateY(-50rem);
  transition: all .6s; }
  @media (max-width: 37.5em) {
    .top-navigation {
      display: none; } }
  .top-navigation--container {
    height: 3vh;
    display: block;
    background-color: #fff;
    padding: 3rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .top-navigation--container::after {
      content: "";
      display: table;
      clear: both; }
    .top-navigation--container__container {
      display: inline-block;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.navigation {
  height: 20vh;
  display: block;
  position: relative;
  padding: 3rem 15rem 0 15rem; }
  .navigation::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 56.25em) {
    .navigation {
      padding: 2rem 10rem 0 10rem; } }
  @media (max-width: 37.5em) {
    .navigation {
      padding: 2rem 0 0 0; } }
  .navigation__header--logo {
    position: absolute;
    width: 15rem;
    left: 5%; }
  .navigation__container {
    position: absolute;
    top: 35%;
    right: 10rem;
    display: inline-block; }
    @media (max-width: 37.5em) {
      .navigation__container {
        display: none; } }
    .navigation__container--items {
      list-style: none;
      float: left; }
      .navigation__container--items li {
        display: inline-block;
        margin-left: 1rem; }
        .navigation__container--items li:first-child {
          margin: 0; }
        .navigation__container--items li a:link,
        .navigation__container--items li a:visited {
          color: #696969;
          text-decoration: none; }
  .navigation__dropdown--hover:hover .navigation--dropdown {
    display: block; }
  .navigation--dropdown {
    display: none;
    z-index: 5;
    position: absolute;
    text-align: left;
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
    .navigation--dropdown li {
      display: block;
      margin: 0; }
      .navigation--dropdown li:first-child {
        border-bottom: 1px solid #f1f1f1;
        padding: .2rem 0 .3rem 0; }
    .navigation--dropdown:hover {
      display: block; }

.burger__navigation {
  height: auto;
  display: none;
  /*&__checkbox:checked ~ &__nav,
  &__checkbox:checked ~ &__nav &__list &__item{
    display: block;
    height: 20rem;
  }*/
  /*&__checkbox:checked ~ &__nav &__list {
    height: 15rem;
  }*/ }
  @media (max-width: 37.5em) {
    .burger__navigation {
      display: block; } }
  .burger__navigation__checkbox {
    display: none; }
  .burger__navigation__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: absolute;
    top: 4rem;
    right: 2.5rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
  .burger__navigation__nav {
    height: 0;
    box-shadow: inset 0 1rem 3rem rgba(0, 0, 0, 0.1);
    transition: height .5s; }
    .burger__navigation__nav::after {
      content: "";
      display: table;
      clear: both; }
  .burger__navigation__list {
    height: 0;
    list-style: none;
    text-align: center;
    font-size: 2rem;
    margin: auto;
    transition: height .5s ease; }
    @media (max-width: 20em) {
      .burger__navigation__list {
        margin-top: 3rem; } }
  .burger__navigation__item {
    text-align: center;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease; }
    .burger__navigation__item:not(:last-child) {
      border-bottom: 1px solid #f7f7f7; }
  .burger__navigation__link {
    margin-top: .6rem; }
    .burger__navigation__link:link, .burger__navigation__link:visited {
      display: inline-block;
      color: #7277EE;
      text-decoration: none; }
  .burger__navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .burger__navigation__icon, .burger__navigation__icon::before, .burger__navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #333;
      display: inline-block; }
    .burger__navigation__icon::before, .burger__navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .burger__navigation__icon::before {
      top: -1rem; }
    .burger__navigation__icon::after {
      top: 1rem; }
  .burger__navigation__checkbox:checked ~ .burger__navigation__nav {
    height: 15rem; }
  .burger__navigation__checkbox:checked ~ .burger__navigation__nav .burger__navigation__list .burger__navigation__item {
    height: 5rem;
    opacity: 1;
    visibility: visible; }
  .burger__navigation__checkbox:checked + .burger__navigation__button .burger__navigation__icon {
    background-color: transparent; }
  .burger__navigation__checkbox:checked + .burger__navigation__button .burger__navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .burger__navigation__checkbox:checked + .burger__navigation__button .burger__navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
  backface-visibility: hidden; }
  .card__side {
    height: 50rem;
    transition: all .5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
  .card:hover .card__side--front {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.5); }
  .card:active .card__side--front {
    transform: translateY(0);
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.15); }
  .card__picture {
    background-blend-mode: unset;
    background-size: cover;
    height: 23rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)), url("../img/logo.png"); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.55), rgba(40, 180, 133, 0.85)), url("../img/4x24.png"); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, rgba(232, 72, 85, 0.85), rgba(186, 154, 63, 0.85)), url("../img/poc-logo_poc-site.jpg"); }
    .card__picture--4 {
      background-image: linear-gradient(to right bottom, rgba(64, 63, 76, 0.85), rgba(255, 119, 48, 0.85)), url("../img/spectrum.png"); }
  .card__details {
    font-size: 1.3rem;
    padding: 1rem;
    width: 80%;
    margin: 5rem auto 0; }
  .card__heading {
    font-size: 2.4rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.55), #28b485); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(232, 72, 85, 0.85), rgba(186, 154, 63, 0.85)); }
    .card__heading-span--4 {
      background-image: linear-gradient(to right bottom, rgba(64, 63, 76, 0.85), rgba(255, 119, 48, 0.85)); }

.feature__logo-box {
  position: absolute;
  display: inline-block;
  left: 5rem; }
  @media (max-width: 37.5em) {
    .feature__logo-box {
      left: 1rem; } }

.feature__logo-box-right {
  text-align: right;
  right: 5rem;
  position: absolute;
  display: inline-block; }
  @media (max-width: 37.5em) {
    .feature__logo-box-right {
      right: 1rem; } }

.feature__logo {
  height: 10rem;
  display: block; }

.feature ul {
  color: #fff; }
  .feature ul li {
    line-height: 2rem; }

.feature__container {
  padding: 4rem;
  position: absolute;
  top: 10rem;
  left: 5rem; }

.composition {
  position: relative; }
  @media (max-width: 56.25em) {
    .composition {
      padding-bottom: 55rem; } }
  @media (max-width: 37.5em) {
    .composition {
      padding-bottom: 35rem; } }
  .composition__photo {
    width: 40%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1.5rem; }
    .composition__photo--p1 {
      left: 8rem;
      top: -10rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          left: 0; } }
    .composition__photo--p2 {
      right: 8rem;
      top: -5rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: 0;
          right: 0; } }
    .composition__photo--p3 {
      left: 30%;
      top: 0; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          z-index: 100;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1.5rem solid #8faee0;
      transform: scale(1.1) translateY(-0.5rem);
      z-index: 20;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #696969; }

.heading-primary {
  background-image: linear-gradient(to right, #2998ff, #5643fa);
  -webkit-background-clip: text;
  color: transparent; }

.paragraph {
  color: #696969;
  font-size: 1.5rem; }

.paragraph-white {
  color: #fff;
  line-height: 2rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
    @media (max-width: 37.5em) {
      .row:not(:last-child) {
        margin-bottom: 2rem; } }
  @media (max-width: 75em) {
    .row {
      max-width: 100%;
      padding: 0 3rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 80rem;
      padding: 0 3rem; } }
  @media (max-width: 37.5em) {
    .row {
      max-width: 100%; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1.5rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
      @media (max-width: 37.5em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 2rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 1.5rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 1.5rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 1.5rem) / 3) + 1.5rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 1.5rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 1.5rem) / 4) + 1.5rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 1.5rem) / 4) + 2 * 1.5rem); }

.header {
  position: relative;
  background-color: #fff;
  height: 100vh; }
  @media (max-width: 56.25em) {
    .header {
      height: auto; } }
  @media (max-width: 64em) {
    .header {
      padding-bottom: 8rem;
      height: auto; } }
  @media (max-width: 37.5em) {
    .header {
      padding-bottom: 6rem;
      height: auto; } }
  .header__logo--img {
    max-width: 40rem; }
    @media (max-width: 37.5em) {
      .header__logo--img {
        max-width: 30rem; } }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__menu-bar ul {
    padding: 0;
    margin: 0; }
    .footer__menu-bar ul li {
      list-style: none; }

.section__products {
  padding: 5rem 0 10rem 0;
  height: auto;
  position: relative; }

.section__archintel {
  position: relative; }
  .section__archintel--container {
    padding: 5rem;
    border-radius: 1rem;
    height: 85vh; }

.section__4x24 {
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.55), #28b485); }
  .section__4x24--container {
    padding: 5rem;
    border-radius: 1rem;
    height: 85vh; }
  @media (max-width: 56.25em) {
    .section__4x24 {
      padding-bottom: 60rem; } }

.section__spectrum {
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(64, 63, 76, 0.85), rgba(255, 119, 48, 0.85)); }
  .section__spectrum--container {
    padding: 5rem;
    border-radius: 1rem;
    height: 85vh; }
  @media (max-width: 56.25em) {
    .section__spectrum {
      padding-bottom: 60rem; } }
