//Colors
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-light2: #3DBC80;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-light2: #8faee0;
$color-tertiary-light3: #7277EE;
$color-tertiary-dark: #5643fa;

$color-fourth-light: #e5c567;
$color-fourth-dark: #ba9a3f;


$color-grey-light-1: #f7f7f7;
$color-gray-dark: #696969;
$color-white: #fff;
$color-black: #000;

// Font size
$default-font-size: 1.6rem;

//GRID
$grid-width: 120rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 4rem;