.header {
  position: relative;
  background-color: $color-white;
  height: 100vh;

  @include respond(tab-port) {
    height: auto;
  }

  @include respond(tab-land-sm) {
    padding-bottom: 8rem;
    height: auto;
  }

  @include respond(phone) {
    padding-bottom: 6rem;
    height: auto;
  }

  &__logo {
    &--img{
      max-width: 40rem;
      @include respond(tab-port) {
      }
      @include respond(phone) {
        max-width: 30rem;
      }
    }
  }
}
