.feature {

  &__logo-box {
    position: absolute;
    display: inline-block;
    left: 5rem;

    @include respond(phone) {
      left: 1rem;
    }
  }

  &__logo-box-right {
    text-align: right;
    right: 5rem;
    position: absolute;
    display: inline-block;

    @include respond(phone) {
      right: 1rem;
    }
  }

  &__logo {
    height: 10rem;
    display: block;
  }

  ul {
    color: $color-white;
    li {
      line-height: 2rem;
    }
  }
}

.feature__container {
  padding: 4rem;
  position: absolute;
  top: 10rem;
  left: 5rem;
}