.feature {
  position: relative;

  &__logo-box {
    position: absolute;
    top: 3rem;
    left: 4rem;
  }

  &__logo {
    height: 10rem;
    display: block;
  }

  a {
    position: absolute;
    top: 48rem;
    left: 4rem;
  }

  ul {
    color: $color-white;
    li {
      line-height: 2rem;
    }
  }
}

.feature__container {
  padding: 4rem;
  position: absolute;
  top: 10rem;
  left: 5rem;
}