.top-navigation {
  z-index: 100;
  position: fixed;
  width: 100%;
  transform: translateY(-50rem);
  transition: all .6s;

  @include respond(phone) {
    display: none;
  }

  &--container {
    height: 3vh;
    display: block;
    @include clearFix;
    background-color: $color-white;
    padding: 3rem;
    box-shadow: 0 1rem 2rem rgba($color-black, .20);

    &__container {
      display: inline-block;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.navigation {
  height: 20vh;
  display: block;
  position: relative;
  @include clearFix;

  padding: 3rem 15rem 0 15rem;

  @include respond(tab-port) {
    padding: 2rem 10rem 0 10rem;
  }

  @include respond(phone) {
    padding: 2rem 0 0 0;
  }

  &__header--logo {
    position: absolute;
    width: 15rem;
    left: 5%;
  }
  &__container {
    position: absolute;
    top: 35%;
    right: 10rem;
    display: inline-block;

    @include respond(phone) {
      display: none;
    }

    &--items {
      list-style: none;
      float: left;

      li {
        display: inline-block;
        margin-left:1rem;
        &:first-child {
          margin: 0;
        }

        a:link,
        a:visited {
          color: $color-gray-dark;
          text-decoration: none;
        }
      }
    }
  }
  &__dropdown--hover:hover &--dropdown {
    display: block;
  }

  &--dropdown {
    display: none;
    z-index: 5;
    position: absolute;
    text-align: left;
    background-color: $color-white;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);

    li {
      display: block;
      margin: 0;
      &:first-child {
        border-bottom: 1px solid $color-grey-light;
        padding: .2rem 0 .3rem 0;
      }
    }
    &:hover {
      display: block;
    }
  }
}



.burger__navigation {
  height: auto;
  display: none;
  
  @include respond(phone) {
    display: block;
  }
  
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: absolute;
    top: 4rem;
    right: 2.5rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, .1);
    text-align: center;
    cursor: pointer;
  }

  &__nav {
    @include clearFix;
    height: 0;
    box-shadow: inset 0 1rem 3rem rgba($color-black, .1);
    transition: height .5s;
  }

  &__list {
    height: 0;
    list-style: none;
    text-align: center;
    font-size: 2rem;
    margin: auto;
    transition: height .5s ease;

    @include respond(phone-xs) {
      margin-top: 3rem;
    }
  }

  &__item {
    text-align: center;
    height: 0;
    opacity: 0;
    visibility: hidden;
    
    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-light-1;
    }

    transition: all .4s ease;
  }

  &__link {
    margin-top: .6rem;
    &:link,
    &:visited {
      display: inline-block;
      color: $color-tertiary-light3;
      text-decoration: none;
    }
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-gray-dark-2;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before {top: -1rem;}
    &::after {top: 1rem;}
  }


  /*&__checkbox:checked ~ &__nav,
  &__checkbox:checked ~ &__nav &__list &__item{
    display: block;
    height: 20rem;
  }*/
  &__checkbox:checked ~ &__nav {
    height: 15rem;
  }
  /*&__checkbox:checked ~ &__nav &__list {
    height: 15rem;
  }*/
  &__checkbox:checked ~ &__nav &__list &__item {
    height: 5rem;
    opacity: 1;
    visibility: visible;
  }



  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}

