.u-title-big {font-size: 5rem !important;line-height: 5rem !important;}
.u-title-medium {font-size: 4rem !important;line-height: 5rem !important;}
.u-title-small {font-size: 3.5rem !important;line-height: 5rem !important;}
.u-title-xsmall {font-size: 2rem !important;line-height: 3rem !important;}

.u-sub-title-small {font-size: 1.7rem !important;line-height: 5rem !important;}

.u-center-text {text-align: center !important;}

.u-margin-bottom-small {margin-bottom: 1.5rem !important;}
.u-margin-bottom-medium {margin-bottom: 4rem !important;}
.u-margin-bottom-big {margin-bottom: 8rem !important;}

.u-margin-top-huge {margin-top: 20rem !important;}
.u-margin-top-big {margin-top: 8rem !important;}
.u-margin-top-medium {margin-top: 4rem !important;}
.u-margin-top-small {margin-top: 1.5rem !important;}

.u-margin-right-small {margin-right: 1.5rem !important;}
.u-margin-right-medium {margin-right: 4rem !important;}

.u-padding-top-huge {padding-top: 15rem !important;}
.u-padding-top-big {padding-top: 8rem !important; @include respond(phone) {padding-top: 4rem !important;}}

.u-padding-right-small {padding-right: 3rem !important;}
.u-padding-bottom-extra-big {padding-bottom: 12rem !important; @include respond(phone) {padding-bottom: 2rem !important;}}
.u-padding-bottom-big {padding-bottom: 8rem !important; @include respond(phone) {padding-bottom: 2rem !important;}}

.u-indent {margin: 1.5rem !important;}
.u-border {border-radius: .5rem !important;}

.u-white-text {color: $color-white !important;}

.u-fontsize-small {font-size: 1.2rem !important;};

.u-link-white-underline {text-decoration: underline !important;color: $color-white !important; &:hover {cursor: pointer !important;}}
.u-link-gray-underline {text-decoration: underline !important;color: $color-gray-dark !important; &:hover {cursor: pointer !important;}}
.u-link-gray {text-decoration: none !important;color: $color-gray-dark !important; &:hover {cursor: pointer !important;}}
.u-link-blue {text-decoration: none !important;color: $color-tertiary-light !important; &:hover {cursor: pointer !important;color: $color-tertiary-dark !important;}}

.u-display-inline-block {display: inline-block !important;}
.u-position-relative {position: relative !important;}