.section__products {
  //background-color: $color-gray-dark-2;
  background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .7), rgba($color-primary-dark, .3));
  padding: 5rem 0 10rem 0;
  height: auto;
  position: relative;
}

.section__archintel {
  position: relative;
  &--container {
    padding: 5rem;
    border-radius: 1rem;
    height: 85vh;
  }
}

.section__4x24 {
  position: relative;
  //background-image: linear-gradient(to right bottom, rgba($color-primary-light2, .85), rgba($color-primary-dark, .85));
  // background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
  background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .55), $color-primary-dark);
  // background-image: linear-gradient(to right bottom, $color-white, $color-primary-dark);

  &--container {
    padding: 5rem;
    border-radius: 1rem;
    height: 85vh;
  }

  @include respond(tab-port) {
    padding-bottom: 60rem;
  }
}

.section__spectrum {
  position: relative;
  //background-image: linear-gradient(to right bottom, rgba($color-primary-light2, .85), rgba($color-primary-dark, .85));
  // background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
  background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
  // background-image: linear-gradient(to right bottom, $color-white, $color-primary-dark);

  &--container {
    padding: 5rem;
    border-radius: 1rem;
    height: 85vh;
  }

  @include respond(tab-port) {
    padding-bottom: 60rem;
  }
}

.section__about {
  padding: 8rem 15rem;

  @include respond(phone) {
    padding: 8rem 1rem;
  }
}